NEXT_PUBLIC_AGENT_BASE_URL=http://127.0.0.1:3001
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_CELO_CHAIN_ID=44787
NEXT_PUBLIC_QUEUEKEEPER_ESCROW_ADDRESS=
NEXT_PUBLIC_BLOCK_EXPLORER_BASE_URL=https://alfajores.celoscan.io
NEXT_PUBLIC_DEPLOYER_ADDRESS=0x14a5ca2c239ef9c957bb46a9cc11bd3b2184d97d
