NEXT_PUBLIC_AGENT_BASE_URL=http://127.0.0.1:3001
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=a1bbfc92084aefd72f95e65346992d54
NEXT_PUBLIC_CELO_CHAIN_ID=11142220
NEXT_PUBLIC_QUEUEKEEPER_ESCROW_ADDRESS=0xb566298bf1c1afa55f0edc514b2f9d990c82f98c
NEXT_PUBLIC_BLOCK_EXPLORER_BASE_URL=https://celo-sepolia.blockscout.com
NEXT_PUBLIC_DEPLOYER_ADDRESS=0x14a5ca2c239ef9c957bb46a9cc11bd3b2184d97d
VENICE_API_KEY=
VENICE_MODEL=venice-uncensored
SELF_MODE=mock
SELF_API_URL=
SELF_API_KEY=
