PORT=3001
CELO_RPC_URL=
QUEUEKEEPER_ESCROW_ADDRESS=0xb566298bf1c1afa55f0edc514b2f9d990c82f98c
QUEUEKEEPER_AGENT_NAME=
QUEUEKEEPER_AGENT_ROLE=
QUEUEKEEPER_AGENT_MODEL=
QUEUEKEEPER_AGENT_WALLET=
QUEUEKEEPER_AGENT_ENS=
SYNTHESIS_AGENT_REGISTRATION_URL=
VENICE_MODE=mock
VENICE_API_URL=
VENICE_API_KEY=
SELF_MODE=mock
SELF_API_URL=
SELF_API_KEY=
VENICE_MODEL=venice-uncensored
UNISWAP_API_KEY=
QUEUEKEEPER_ENCRYPTION_KEY=
QUEUEKEEPER_ALLOW_MOCK_VERIFICATION=
