PORT=3001
CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
QUEUEKEEPER_ESCROW_ADDRESS=0xb566298bf1c1afa55f0edc514b2f9d990c82f98c
VENICE_MODE=mock
VENICE_API_URL=
VENICE_API_KEY=
SELF_MODE=mock
SELF_API_URL=
SELF_API_KEY=
PRIVATE_KEY_FILE=.secrets/celo-sepolia-test.key
DEPLOYER_ADDRESS=0x14a5ca2c239ef9c957bb46a9cc11bd3b2184d97d
